/* 最底层设计 */
#app {
  width: 1280px;
  height: 960px;
  border-radius: 50px;
  background-color: rgba(24, 27, 34, 1);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#app2 {
  width: 1266px;
  height: 950px;
  border-radius: 50px;
  background-color: rgba(34, 36, 48, 1);
  border: 1.8px solid rgba(255, 255, 255, 0.03);
  display: flex;
  flex-direction: row;
}
/* 左侧边栏 */
#side {
  width: 95px;
  height: 925px;
  padding-top: 26px;
  /* background-color: aliceblue; */
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
}
#logo {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  /* background-color: red; */
  background-image: url(../images/logo.jpg);
  background-size: 44px 44px;
}
#menu {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#index {
  width: 34px;
  height: 34px;
  background-image: url(../icon/index.png);
  background-size: 34px 34px;
}
#styleSettin {
  margin-top: 85px;
  padding: 5 5 5 5;
  background-color: rgba(43, 47, 59, 1);
  padding: 4px 4px 4px 4px;
}
#white {
  width: 50px;
  height: 50px;
}
/* #set {
  width: 44px;
  height: 44px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
} */
#pages {
  width: 787px;
  height: 856px;
  border-radius: 26px;
  margin-top: 29px;
  padding: 18px;
  background-color: rgba(24, 27, 34, 1);
}
#ages {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  /* background-image: url(../images/Collect.png); */
  background-color: rgba(255, 255, 255, 0.03);
  background-size: 448px 346px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
